.Menu {
  position: relative;
  margin: 14em 3em;
}

.m-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 5.5em;
  background-color: #301a4b;
  box-shadow: 1px 2px 2px #301a4b;

  padding: 0.2em;

  border-radius: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;
  color: #edffec;
  cursor: pointer;

  transition: 1s;
}

.m-item:hover {
  border: 1px solid black;
}

.m-logo {
  z-index: 1;
}

.open-1 {
  top: 1.8em;
  background-color: #9b5de5;
}
.open-2 {
  top: 3.6em;
  background-color: #f15bb5;
}
.open-3 {
  top: 5.4em;
  background-color: #00bbf9;
}
